.feed-page {
    position: relative;
    min-height: 100vmin;
    background-color: #F9F6F4;
    text-align: center;
  }

.content-box {
    background-color: #fff;
    margin-top: 10vh;
    min-height: 90vh;
    width: 50vw;
    min-width: 630px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 0.5vh;
}

.profile-info {
    height: 30vh;
}

.profile-info-photo {
    width: 20vh;
}
  
.edit-profile-button {
    color: #705845;
    background-color: #fff;
    border-color: #705845;
}
  
.edit-profile-button:hover {
    color: #705845;
    background-color: #fff;
    border-color: #705845;
}
  
.edit-profile-button:focus {
    box-shadow: none;
}

.profile-info-text {
    text-align: start;
    padding: 0 !important;
    font-size: 2vh;
    font-weight: bold;
}

.no-padding {
    padding: 0 !important;
}

.displayname-text {
    font-size: 2.5vh;
}

.username-text {
    color: #657786;
}

.fol-counter-label {
    color: #657786;
    padding-right: 0.5vh;
}

.fol-counter-number {
    font-weight: bold;
    padding-right: 0.5vh;
}

.edit-profile-modal-body-box {
    height: 43vh;
    text-align: center;
    min-width: 466px;
    min-height: 280px;
}

.edit-profile-modal-button {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.edit-profile-modal-button:hover {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.edit-profile-modal-button:focus {
    box-shadow: none;
}

.edit-profile-modal-form-label {
    color: #838383;
}

.edit-profile-input {
    width: 40vh;
    height: 5vh;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-color: #705845;
    color: black;
    min-width: 350px;
    min-height: 44px;
}

.edit-profile-input:focus {
    background-color: #FFFFFF;
    border-color: #F3804B;
    box-shadow: none;
    color: black;
}

.edit-profile-input::placeholder {
    color: #838383 !important;
}

.follow-profile-button {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.follow-profile-button:hover {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.follow-profile-button:focus {
    box-shadow: none;
}

.unfollow-profile-button {
    color: #705845;
    background-color: #fff;
    border-color: #705845;
}
  
.unfollow-profile-button:hover {
    color: #705845;
    background-color: #fff;
    border-color: #705845;
}
  
.unfollow-profile-button:focus {
    box-shadow: none;
}