.no-margin {
  margin: 0 !important;
}

.login-page {
  position: relative;
  min-height: 100vmin;
  background-color: #705845;
  text-align: center;
}

.login-canarinho-logo {
  padding-top: 5vmin;
  height: 55vmin;
  width: 50vmin;
  pointer-events: none;
  text-align: center;
}

.login-title {
  color: #fff;
  font-size: 8vmin;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.login-input-box {
  padding-top: 8vmin;
}

.login-input {
  background-color: #705845;
  border-color: #fff;
  color: #fff;
}

.login-input:focus {
  background-color: #705845;
  border-color: #fff;
  color: #fff;
}

.login-link {
  padding-top: 4vmin;
  color: #F3804B;
}