.Logo-side {
    background-color: #705845;
    width: 440px;
    height: 989px;
}

.Canarinho-logo {
    width: 278.39px;
    height: 284.85px;
    padding-top: 333px;
    padding-left: 80.52px;
}

.Logo-title {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    width: 440px;
    text-align: center;
}

.SignUp-text {
    color: #F3804B;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    width: 587px;
    text-align: center;
    padding-top: 65px;
    padding-left: 647px;
}

.Profile-photo {
    position: absolute;
    width: 191px;
    height: 191px;
    padding-top: 197px;
    padding-left: 845px;
}

.footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}