.logo-side {
    background-color: #705845;
    width: 440px;
    height: 989px;
}

.canarinho-logo {
    width: 350px;
    height: 300px;
    padding-top: 333px;
    padding-left: 65px;
}

.signup-logo-title {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    width: 440px;
}

.signup-text {
    color: #F3804B;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 65px;
}

.profile-photo {
    width: 191px;
    height: 191px;
    margin-top: 70px;
}

.select-photo {
    color: #705845;
    padding-top: 16px;
    font-size: 18px;
    font-family: Lato;
    line-height: 62px;
    width: 240.26px;
}

.signup-input-box {
    padding-top: 3vmin;
    display: block;
    text-align: center;
  }

.signup-input {
    width: 331.6px;
    height: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-color: #705845;
    color: #705845;
}

.signup-input:focus {
    background-color: #FFFFFF;
    border-color: #F3804B;
    box-shadow: none;
    color: #705845;
}

.signup-input::placeholder {
    color: #705845 !important;
}

.signup-button {
    background-color: #F3804B;
    border-color: #F3804B;
    width: 159.58px;
    margin-top: 4vmin;
}

.signup-button:hover {
    background-color: #F3804B;
    border-color: #F3804B;
}

.signup-button:focus {
    box-shadow: none;
}


.footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}