.menu-area{
    background-color: #705845;
    height: 60px;
}

button:focus {     
    outline: 0;
    box-shadow: none!important; 
}

.home-navbar {
    color: #FFFFFF;
    background-color: #705845;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 100px;
    margin-top: 16px;
    margin-left: 20vw;
    text-align: center;
    text-decoration: none !important;
}
.home-navbar:hover{
    color: black !important;
}

.notification-navbar {
    color: #FFFFFF;
    background-color: #705845;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 121px;
    margin-top: 16px;
    text-align: center;
    text-decoration: none !important;
}

.notification-navbar:hover{
    color: black !important;
}

.logo-navbar {
    width: 5vh;
    position: absolute;
    margin-top: 5px;
    left: 50vw;
}

.fa-search {
    margin-right: 7px;
}

.search-form {
    background-color: #705845;
    border-color: #fff;
    color: #fff;
    width: 10vw;
    margin-top: 9px;
    position: absolute;
    left: 57vw;
}

.search-form:focus {
    background-color: #705845;
    border-color: #F3804B;
    color: #fff;
    box-shadow: none;
}

.fa-search {
    margin-right: 7px;
}

.search-navbar {
    color: #FFFFFF;
    background-color: #705845;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    position: absolute;
    left: 68vw;
    text-decoration: none !important;
    box-shadow: none!important; 
}

.search-navbar:hover{
    color: black !important;
}

.profile-photo-navbar {
    width: 5vh;
    margin-top: 5px;
    position: absolute;
    left: 76vw;
    border-radius: 50%;
    max-height: 77%;
}

.logout-navbar{
    color: #FFFFFF;
    background-color: #705845;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 100px;
    margin-top: 16px;
    position: absolute;
    left: 80vw;
    text-align: center;
    text-decoration: none !important;
}

.logout-navbar{
    color:  #FFFFFF !important;
}

.logout-navbar:hover{
    color: black !important;
}