.postcard-box {
    background-color: #EEEEEE !important;
    height: 18vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.postcard-content-box {
    padding: 1vh;
}

.postcard-identifier {
    height: 2vh;
}

.postcard-content {
    padding: 2vh 0;
    height: 11vh;
    font-size: 2.5vh;
    text-align: start !important;
}

.postcard-footer {
    height: 5vh;
    text-align: start !important;
}

.postcard-profile-photo {
    padding-top: 4vh;
    width: 10vh;
}

.postcard-displayname{
    font-size: 2.5vh;
    font-weight: bold;
    padding-right: 1vh;
}

.postcard-username {
    font-size: 2.5vh;
    font-weight: bold;
    color: #657786;
}

.postcard-footer-counter {
    padding-left: 0;
    font-size: 2vh;
}

.reply-modal-button {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.reply-modal-button:hover {
    color: #fff;
    background-color: #705845;
    border-color: #705845;
}
  
.reply-modal-button:focus {
    box-shadow: none;
}

.reply-modal-body-box {
    height: 40vh;
}

.reply-modal-post-box {
    padding: 1vh;
    background-color: #EEEEEE !important;
}

.reply-modal-form-label {
    padding: 1.5vh;
    padding-top: 2vh;
    height: 5vh;
    font-size: 2vh;
}

.reply-modal-form-label-first {
    color: #838383;
    padding-right: 0.5vw;
}

.reply-modal-form-label-second {
    color: #1B95E0;
}

.reply-modal-textarea {
    height: 20vh;
    padding: 1.5vh;
}

.reply-modal-post-textarea {
    font-size: 1.5vw;
    resize: none;
    border-color: #705845;
}

.reply-modal-post-textarea:focus {
    color: black;
    font-size: 1.5vw;
    box-shadow: none;
    border-color: #705845;
}